# Data Science Tools and Ecosystem

The notebook Data Science Tools and Ecosystem explore different technologies, frameworks, and methodologies that together make the bedrock of the modern practice of data science.

**Objectives:**

- List popular languages for Data Science 
- List popular libraries used by Data Scientists 
- Evaluating arithmetic expressions in Python 
- Converting Minutes to Hours

Some of the popular languages that Data Scientists use are:
1. SQL
2. Python
3. R
4. Java

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. TensorFlow
3. Numpy

| Data Science Tools  |
|---------------------|
| Jupyter Notebooks   |
| RStudio             |
| TensorFlow          |
| Apache Spark        |

### Below are a few examples of evaluating arithmetic expressions in Python

In [3]:
(3*4)+5

17

This will convert 200 minutes to hours by diving by 60

In [5]:
200 / 60

3.3333333333333335

## Author
Johnathan Martinez